:root {
  /* 
  RGBA
  --primary-blue: (rgba(11, 60, 189, 1))
  --secondary-blue: (rgba(50, 140, 193,1))
  --yellow:(rgba(197,179,16,1))
  --black:(rgba(29,39,49,1))
  */

  --primary-blue: (#0b3cbd);
  --secondary-blue: (#328cc1);
  --yellow: (#c5b310);
  --black: (#1d2731);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
